h1 {
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 2rem;
}

div {
    text-align: center;
}

span {
    font-size: 3rem;
    word-spacing: -0.1rem;
    letter-spacing: -0.1rem;
}

.header {
    font-weight: bold;
    margin: 0px;
    padding: 0;
}

.header > .firstLine {
    margin-bottom: -1rem;
}

.header > .lastLine {
    padding-bottom: 1.5 rem;
}
